#root{
  --primary: #fff6a4;
  --secondary: #9c5200;
  --tertiary: #de9400;
  --quaternary : #f6bd20;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
  background: var(--quaternary);
  color:  #292929;
}

.homepage-container{
  max-width: 100vw;
  min-height: 100vh;
  background: #f6e652;
  padding-top: 20px;
  padding-bottom: 100px;
}
.title-homepage{
  font-weight: bold;
}
.subtitle-homepage{
  font-weight: bold;
  color: rgb(88, 85, 85);
}
.input-search{
  font-size: 25px;
  width: 70%;
  height: 60px;
  border-radius: 50px;
  padding-left: 10px;
  background: var(--primary);
  border: 5px var(--tertiary) solid;
  text-align: center;
}
.input-search:focus-visible{
  border: 5px var(--secondary) solid;
  outline: none!important;
}
.search-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.img-pokeball-search-invert{
  height: 60px;
  transform: scaleX(-1);
}
.img-pokeball-search{
  height: 60px;
}
.card-container{
  height: 300px;
}
.card{
  height: 220px;
  width: 200px;
  position: relative;
  border: solid 3px  var(--tertiary);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 25px;
  background-color: var(--primary);
}
.img-pokemon{
  position: absolute;
  border-radius: 100%;
  left: auto;
  right: auto;
  width: 200px;
  top: -105px;
  padding: 10px;
}
.name-pokemon{
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}
.type-pokemon-container{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.type-title-pokemon{
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
}
.type-pokemon{
  font-size: 18px;
  text-decoration: none!important;
}
.id-pokemon{
  position: absolute;
  border: 3px solid  var(--tertiary);
  border-radius: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  right: -15px;
  bottom: -15px;
  background-color: var(--quaternary);
  font-weight: bold;
}

.pagination-number{
  width: 30px;
  height: 75px;
  font-size: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: transform .2s;
  color: #41414aa1;
  background: url('./images/pokeball-close.png') no-repeat;
  background-size: contain; 
  background-position: center 30px ;
}
.pagination-number:hover{
  cursor: pointer; 
  font-weight: bold;
  transform: scale(1.2);
  color: #41414ace;
}
.selectPage{
  background: url('./images/pokeball-open.png') no-repeat;
  background-size: contain; 
  background-position: center 30px ;
  font-weight: bold;
  scale: 1.2;
  color: black;
}

@media (max-width: 767.98px) { 
  .img-pokemon-finder{
    width: 100%;
  }
  .img-pokeball-search-invert{
    display: none;
  }
  .img-pokeball-search{
    display: none;
  }
  .input-search{
    width: 100%;
    font-size: 18px;
  }
  .subtitle-homepage{
    font-size: 16px;
  }
}