#root{
  --primary: #CCD6A6;
  --secondary: #DAE2B6;
  --tertiary: #F4EAD5;
  --quaternary : #FFFBE9;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Concert One', cursive;
}

.homepage-container{
  width: 100vw;
  height: 100vh;
  background: var(--quaternary);
  padding-top: 100px;
}
.title-homepage{
  font-weight: bold;
}
.subtitle-homepage{
  font-weight: bold;
  color: rgb(88, 85, 85);
}
.input-search{
  font-size: 25px;
  width: 70%;
  height: 60px;
  border-radius: 50px;
  padding-left: 10px;
  background: var(--tertiary);
  border: 5px var(--primary) solid;
}
.input-search:focus-visible{
  border: 5px var(--secondary) solid;
  outline: none!important;
}
.btn-search-container{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-search{
  height: 60px;
  width: 150px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  background: var(--tertiary);
  border: 5px var(--primary) solid;
  
}
.btn-search:hover{
  border: 5px var(--secondary) solid;
  outline: none!important;
}
